@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Bebas Neue', cursive;
  background-color: #faeadb;
}
.app-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
.item {
  background-color: #d9b584;
  color: white;
  width: 175%;
  height: 50px;
  margin: 4px 0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.item.completed {
  background-color: #888888;
  text-decoration: line-through;
}
.addBtn{
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: 0;
  background-color: #d9b584;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
}
.clearBtn{
  width: 50%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 16px;
  border-radius: 10px;
  cursor: pointer;
  border-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
}
.todo-form {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo-input {
  background-color: #d9b584;
  border: none;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
}
.todo-input input::placeholder{
  color: #fff;
  font-family: 'Bebas Neue', cursive;
}
.todo-input:focus, #addBtn:focus{
  outline: none;
}
.list-item{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.todo-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
